
.deck-card {
  width: 150px;
  height: 212px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.deck-card.clickable:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.deck-card.disabled {
  opacity: 0.8;
  pointer-events: none;
}

.deck-wrapper {
  position: relative;
  width: 150px;
  height: 212px;
}

.deck-opened-card {
  position: absolute;
  top: 0px; /* ajusta conforme quiser */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: none; /* evita clique na carta aberta */
}

