.equipment-slot {
  transform: scale(0.9);
  width: 104px;
  height: 150px;
  border: 2px dashed #888;
  border-radius: 8px;
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  padding: 0px;
  transition: all 0.2s ease;
}

.equipment-slot.filled {
  border: none;
  background: none;
  padding: 0;
}

/* Aqui o card dentro do equipment slot fica menor */
.equipment-card-wrapper > * {
  transform-origin: top center;
  /* Ajusta o tamanho do wrapper para evitar overflow e permitir espaçamento correto */
  display: inline-block;
  width: 104px;
  height: 150px;
}

/* Ícone e label continuam iguais */
.equipment-icon {
  font-size: 20px;
  margin-bottom: 4px;
}

.equipment-label {
  font-size: 15px;
  font-weight: 500;
}

.card.equipped-card .card-description {
  display: none;
}

.card.equipped-card .card-title {
  font-size: 13px;
  text-align: center;
}

.card.equipped-card .card-bonus {
  position: absolute;
  top: 4px;
  right: 6px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2px 4px;
  border-radius: 4px;
  text-shadow: 0 1px 1px black;
}
